.profile-img{
     width: 10rem;
     height: 10rem;

}
.img-side{
    width: 5.5rem;
    height: 5.7rem;
    top: 2rem;
    left: 2rem;
}
.img-contact{
    width: 27.5rem;
    height: 5rem;
}


@media only screen and (max-width: 1220px){

    .img-contact{
        width: 22rem;
    }

}


@media only screen and (max-width: 1020px){
    .profile-img{
        width: 7rem;
        height: 7rem;
   
   }
   

    .img-contact{
        width: 17rem;
    }

}


@media only screen and (max-width: 767px){


    .img-side{
        width: 4rem;
        height: 4rem;
        top: 2.7rem;
        left: 2rem;
    }

	
   .right-side-img{
    width: 4.5rem;
    height: 5rem;
   }

    .right-side{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .img-contact{
        width: 17rem;
    }
}

@media only screen and (max-width: 480px){
    .img-contact{
        width: 12.5rem;
    }
}